.Iframe {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  > iframe {
    width: 100%;
    height: 100%;
  }
  > a {
    position: absolute;
    bottom: 35px;
    right: 35px;
    background: $nav-background-color;
    > i {
      font-size: 1.8rem;
      transform: rotate(45deg);
    }
    &:hover,
    &:focus {
      background: rgb(24, 35, 40) !important;
    }
    &.waves-effect .waves-ripple {
      background-color: rgba(184, 199, 206, 0.2);
    }
  }

  &.loading {
    opacity: 0;
  }
}
