.Side-menu {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }
  .divider {
    height: 50px;
    width: 100%;
    padding: 15px 18px 15px 18px;
    font-size: 14px;
  }
  .children {
    transition: max-height 0.7s ease-in;
    overflow: hidden;

    &.active {
      transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
      max-height: 9999px;
    }
    &.inactive {
      transition: max-height 0.6s cubic-bezier(0, 1, 0, 1) -0.15s;
      max-height: 0;
    }
  }
  .item {
    display: block !important;
    .item-title {
      height: 50px;
      width: 100%;
      padding: 15px 18px 15px 18px;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer !important;
      transition: color 0.2s ease-in-out;
      > span {
        height: 20px;
        .item-icon {
          margin-right: 10px;
        }
        .fa-chevron-down,
        .fa-chevron-left,
        .fa-chevron-right,
        .fa-external-link-alt {
          float: right;
          position: relative;
          font-size: 14px;
          padding-top: 3.5px;
        }
        .fa-external-link-alt {
          margin-right: 0;
        }
      }
    }
    &:hover > .item-title {
      cursor: pointer;
    }
    .children {
      > div {
        > div {
          padding-left: 30px;
        }
      }
    }
  }
  &.Side-menu-custom {
    background-color: $nav-background-color;
    color: $nav-text-color;
    .divider {
      background-color: $sidemenu-divider-background-color;
      color: #4a636e;
      text-transform: uppercase;
      > span {
        > i {
          margin-right: 10px;
        }
      }
    }
    .item {
      transition: border-left 0.2s ease-in-out;
      border-left: 0px solid transparent;
      a {
        text-decoration: none;
        color: $nav-text-color;
      }
      &.active {
        color: $white;
        .children {
          color: $nav-text-color;
        }
        > .item-title > a {
          color: $white;
        }
      }
      &:hover > .item-title {
        color: $white;
        a {
          color: $white;
        }
      }
      &.item-level-1 {
        &:hover {
          border-left: 4px solid $background;
        }
        &.active {
          border-left: 4px solid $background;
        }
      }
    }
  }
}
