$white: #ffffff;
$black: #000000;
$blue-lighten-1: #29b6f6;
$blue: #039be5;
$blue-darken-1: #0266bd;

$nav-background-color: #222d32;
$nav-text-color: #b8c7ce;

$sidemenu-divider-background-color: #1a2226;

$background: #f8f9fa;

$open-sans: "Open Sans", sans-serif;
$hind: "Hind", $open-sans;
